In [1]:
fruit = "香蕉"

In [2]:
del fruit

In [3]:
print(100, 200, 300, sep="&", end="--")

100&200&300--

In [4]:
print("%s 總冠軍" % ("兄弟象"))

兄弟象 總冠軍

In [5]:
print("%s 贏的機率為 %8.2f%s " % ("兄弟象",99.9,"%")) #(8代表固定輸出8個字元(含小數點))

兄弟象 贏的機率為    99.90%

In [6]:
print("{}{}年的參加隊伍為{}".format("鐵人賽",2018,"浪流連九程式匠自然產生的佛系碼農專區"))

鐵人賽2018年的參加隊伍為浪流連九程式匠自然產生的佛系碼農專區

In [7]:
"{1} {0} {1}".format("hello", "world")

'world hello world'

In [20]:
winner = input("請輸入2018中華職棒總冠軍?")

請輸入2018中華職棒總冠軍?浪流連九程式匠自然產生的佛系碼

In [ ]:
print("{}".format(winner))

In [ ]:
7**2

In [ ]:
1!=0

In [19]:
winner = input("請輸入2018鐵人賽參加隊伍是否有「浪流連九程式匠自然產生的佛系碼農專區」，請輸入是Yes or No?")
if(winner=="Yes"):
    print("恭喜你答對了!!")
else:
  print("不好意思你答錯了~><~")

請輸入2018鐵人賽參加隊伍是否有「浪流連九程式匠自然產生的佛系碼農專區」，請輸入是Yes or No?Yes
恭喜你答對了!!

In [1]:
score = int(input("請「浪流連九程式匠自然產生的佛系碼農專區」有幾人參加?"))
if(score>=3):
    if(score==9):
     print("沒錯!!剛好就是9人")
    elif(score>=7):
     print("已經非常接近了")
    else:
     print("不好意思，離正確答案還有一段距離")
else:
 print("沒有這麼少人喔")

請「浪流連九程式匠自然產生的佛系碼農專區」有幾人參加?7
已經非常接近了

In [2]:
ironman_list = ["中信兄弟", "統一獅", "lamigo", "富邦悍將"]
print('總冠軍隊伍', ironman_list[0]) 
print('亞軍隊伍', ironman_list[-2])

總冠軍隊伍 中信兄弟
亞軍隊伍 lamigo

In [9]:
print('亞軍隊伍', ironman_list[-1])

亞軍隊伍 富邦悍將

In [16]:
ironman_list1 = range(10)
ironman_list2 = range(4,8)
ironman_list3 = range(3,8,3) 

#語法: range(起始值 [,終止值, 間格值])
print(list(ironman_list1))
print(list(ironman_list2))
print(list(ironman_list3))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7]
[3, 6]

In [19]:
ironman_list1 = list(ironman_list1)
ironman_list2 = ironman_list1*2
print(ironman_list2)

[3, 6, 3, 6]

In [22]:
ironman_list1 = [1,2,3,4,5,6]
print(list(ironman_list1[2:5]))
#語法：[n,m] 取出index n~(m-1)的元素

[3, 4, 5]

In [23]:
ironman_list1 = [1,2,3,4,5,6]
print(list(ironman_list1[1:4:2]))
語法：[n:m:o] 取出index n~(m-1)的元素，間隔為o

[2, 4]

In [27]:
ironman_list1 = [1,2,3,4,5,6]
del ironman_list1[1:4]
print(list(ironman_list1))
#語法：del 以下示範用切片的方式刪除元素

[1, 5, 6]

In [28]:
ironman_list1 = [1,2,3,4,5,6]
ironman_list1.append(8)
print('將8做為元素加在list最後---->',list(ironman_list1))
ironman_list1 = [1,2,3,4,5,6]
ironman_list1.extend([8,9])
print('將[8,9]中的元素加在list最後---->',list(ironman_list1))
ironman_list1 = [1,2,3,4,5,6]
ironman_list1.insert(3,8)
print('在index 3的位置加入元素8---->',list(ironman_list1))

將8做為元素加在list最後----> [1, 2, 3, 4, 5, 6, 8]
將[8,9]中的元素加在list最後----> [1, 2, 3, 4, 5, 6, 8, 9]
在index 3的位置加入元素8----> [1, 2, 3, 8, 4, 5, 6]

In [29]:
ironman_dict = {"team":"中信兄弟","year":"2017","ranking":2}
print(ironman_dict["team"])

中信兄弟

In [30]:
ironman_list1 = range(0, 5)
for i in ironman_list1:
    print(i,end=",")

0,1,2,3,4,

In [31]:
for i in range(1,10):
    for j in range(1,10):
        product = i * j
        print("%d*%d=%-2d " % (i,j, product), end=" ")
    print() #斷行

1*1=1   1*2=2   1*3=3   1*4=4   1*5=5   1*6=6   1*7=7   1*8=8   1*9=9
2*1=2   2*2=4   2*3=6   2*4=8   2*5=10  2*6=12  2*7=14  2*8=16  2*9=18
3*1=3   3*2=6   3*3=9   3*4=12  3*5=15  3*6=18  3*7=21  3*8=24  3*9=27
4*1=4   4*2=8   4*3=12  4*4=16  4*5=20  4*6=24  4*7=28  4*8=32  4*9=36
5*1=5   5*2=10  5*3=15  5*4=20  5*5=25  5*6=30  5*7=35  5*8=40  5*9=45
6*1=6   6*2=12  6*3=18  6*4=24  6*5=30  6*6=36  6*7=42  6*8=48  6*9=54
7*1=7   7*2=14  7*3=21  7*4=28  7*5=35  7*6=42  7*7=49  7*8=56  7*9=63
8*1=8   8*2=16  8*3=24  8*4=32  8*5=40  8*6=48  8*7=56  8*8=64  8*9=72
9*1=9   9*2=18  9*3=27  9*4=36  9*5=45  9*6=54  9*7=63  9*8=72  9*9=81

In [32]:
 for i in range(1,11):
     if(i==6):
         continue
     print(i, end=",")

1,2,3,4,5,7,8,9,10,

In [33]:
n = 5
if(n==2):
    print("2是質數!")
else:
    for i in range(2,n):
        if(n % i == 0):
            print("%d 不是質數!" %n)
            break
    else:
        print("%d是質數!" %n)

5是質數!

In [34]:
total = n = 0
while(n<10):
    n += 1
    total += n
print(total)

55

In [41]:
#function
def GetArea(height,width):
    area = width * height
    return area
ret1 = GetArea(6,9)
print('ret1--->',ret1)

ret1---> 54

In [36]:
#打星號可以引入不定數量的參數：

#一個星號會以 tuple 的方式引入
#兩個星號會以 dict 的方式引入
#可以定義在函數裡，作用是參數個數不定：

In [42]:
def run_otherFunc(func):
    func(7,8)
run_otherFunc(GetArea)

In [43]:
example1 = abs(-10)
print(example1)  #取得絕對值 輸出 10
example2 = chr(66)
print(example2)  #取得整數66的字元 輸出 B
example3 = divmod(33,6)
print(example3)  #取得33除以6的商數和餘數 輸出 (5, 3)
example4 = float(33)
print(example4)  #轉成浮點數 輸出 33.0
example5 = hex(33)
print(example5)  #轉成16進位 輸出 0x21
example6 = int(22.79)
print(example6)  #轉成整數(無條件捨去) 輸出 22
example7 = oct(33)
print(example7) #轉成八進位 輸出 0o41
example8 = ord("B")
print(example8) #取得Unicode編碼 輸出 66
example9 = pow(2,5)
print(example9) #取得2的5次方 輸出 32
example10 = round(22.79)
print(example10)  #轉成整數(四捨五入) 輸出 23
example11 = sum([11,22,33,44])
print(example11)  #取得list的總和 輸出 110

10
B
(5, 3)
33.0
0x21
22
0o41
66
32
23
110

In [45]:
import os
path = "myDir"
os.mkdir(path) # 建立目錄

In [46]:
os.system("mkdir dir2") #執行作業系統命令

0

In [48]:
os.rmdir('dir2') # 移除目錄

In [49]:
content = '''Python first   
測試中文
第三行
'''  # '''...'''  保留原本的格式
f = open('firstFile.txt','wt') # 寫入模式，檔案如果已經存在會被覆蓋
f.write(content)
f.close()

In [53]:
rm(firstFile.txt)

/bin/sh: -c: line 0: syntax error near unexpected token `firstFile.txt'
/bin/sh: -c: line 0: `rm (firstFile.txt)'

In [54]:
f2 = open('firstFile.txt','r') # 讀取模式
for line in f2:
    print(line, end="")
f2.close()

Python first
測試中文
第三行

In [55]:
import csv
with open('day06-csv.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile) # 建立 CSV 檔寫入器
    writer.writerow(['股票', '收盤價', '單量'])
    writer.writerow(['台積電', 238, 23])
    writer.writerow(['大同', 40, 121])
    writer.writerow(['華新科', 174, 105])

In [56]:
# ---------------------------------------------------------- read

with open('day06-csv.csv', newline='') as csvfile:

  rows = csv.reader(csvfile)  # 讀取 CSV 檔案內容
  for row in rows:  # 以迴圈輸出每一列
    print(row)

['股票', '收盤價', '單量']
['台積電', '238', '23']
['大同', '40', '121']
['華新科', '174', '105']

In [57]:
import numpy as np
ironman_zeros = np.zeros(10, dtype=int) #建立一個內容為0 長度為10的整數陣列
ironman_ones = np.ones((3,5) ,dtype=float)  #建立一個內容為1 3x5 的浮點數陣列
ironman_empty = np.empty((3,2) )  #建立一個內容為1 3x2 的無初始值陣列
ironman_full = np.full((4,2), 2.2) #建立一個內容為2.2 4x2 的浮點數陣列

print('ironman_zeros---->', ironman_zeros)
print('ironman_ones---->', ironman_ones)
print('ironman_empty---->', ironman_empty)
print('ironman_full---->', ironman_full)

ironman_zeros----> [0 0 0 0 0 0 0 0 0 0]
ironman_ones----> [[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
ironman_empty----> [[2.12199579e-314 0.00000000e+000]
 [0.00000000e+000 0.00000000e+000]
 [1.75871011e-310 3.50977866e+064]]
ironman_full----> [[2.2 2.2]
 [2.2 2.2]
 [2.2 2.2]
 [2.2 2.2]]

In [58]:
ironman_arange = np.arange(0,20,2) #建立一個依序填滿的陣列 0到20間隔為2
ironman_linspace = np.linspace(0,1,5) #建立一個5個值的陣列，在0到1間平均分布

print('ironman_arange---->', ironman_arange)
print('ironman_linspace---->', ironman_linspace)

ironman_arange----> [ 0  2  4  6  8 10 12 14 16 18]
ironman_linspace----> [0.   0.25 0.5  0.75 1.  ]

In [59]:
ironman_random = np.random.random((3,3)) #建立一個3*3 陣列，在0到1間亂數值
ironman_ranf = np.random.ranf((5)) #建立一個5 陣列，在0到1間亂數值
ironman_sample = np.random.sample((2,3)) #建立一個2*3 陣列，在0到1間亂數值

print('ironman_random---->', ironman_random)
print('ironman_ranf---->', ironman_ranf)
print('ironman_sample---->', ironman_sample)

ironman_random----> [[0.15323665 0.62585663 0.21897521]
 [0.87555748 0.76940202 0.96782493]
 [0.53949768 0.27563736 0.74606555]]
ironman_ranf----> [0.34078975 0.97034843 0.15761425 0.02245851 0.88308331]
ironman_sample----> [[0.51265422 0.03541807 0.58503316]
 [0.52563636 0.54274962 0.2627431 ]]

In [61]:
ironman_normal = np.random.normal(0,1,(3,3)) #建立一個3*3陣列，內容為常態分佈的亂數值 平均0，標準差1
print('ironman_normal---->', ironman_normal)

ironman_normal----> [[ 0.13788675  1.30009593 -1.6366529 ]
 [ 0.72833214  0.09182368  0.82422659]
 [-1.66774223 -0.0144093   0.60306641]]

In [1]:
import numpy as np
import pandas as pd
ironman = pd.Series([0.11,0.22,0.33,0.44])
ironman

0    0.11
1    0.22
2    0.33
3    0.44
dtype: float64

In [2]:
print('ironman.values------->',ironman.values)
print('ironman.index------->',ironman.index)

ironman.values-------> [0.11 0.22 0.33 0.44]
ironman.index-------> RangeIndex(start=0, stop=4, step=1)

In [3]:
ironman = pd.Series([0.11,0.22,0.33,0.44], index=['a','b','c','d'])
ironman

a    0.11
b    0.22
c    0.33
d    0.44
dtype: float64

In [4]:
dic_ironman = {
    'a': 11,
    'b': 22,
    'c': 33
}
ironman = pd.Series(dic_ironman)
ironman

a    11
b    22
c    33
dtype: int64

In [5]:
number = pd.Series({'taipei':200, 'taichung': 300, 'changhua': 400, 'kaohsiung' : 150})
mayor = pd.Series({'taipei': 'Kui', 'taichung': 'Ha', 'changhua': 'Chin', 'kaohsiung' : 'Lui'})
ironman_df = pd.DataFrame({'number':number, 'mayor':mayor})
ironman_df

           number mayor
taipei        200   Kui
taichung      300    Ha
changhua      400  Chin
kaohsiung     150   Lui

In [6]:
print('ironman_df.values------->',ironman_df.values)
print('ironman_df.index------->',ironman_df.index)
print('ironman_df.columns------->',ironman_df.columns)

ironman_df.values-------> [[200 'Kui']
 [300 'Ha']
 [400 'Chin']
 [150 'Lui']]
ironman_df.index-------> Index(['taipei', 'taichung', 'changhua', 'kaohsiung'], dtype='object')
ironman_df.columns-------> Index(['number', 'mayor'], dtype='object')

In [7]:
pd.DataFrame(number, columns=['number']) #從單一Series
pd.DataFrame({'number':{'taipei':200, 'taichung': 300, 'changhua': 400, 'kaohsiung' : 150}}) #從dict建立

           number
changhua      400
kaohsiung     150
taichung      300
taipei        200

In [9]:
team =np.zeros(4, dtype={'names':('name','number','team'),'formats':('U10','i2','U10')})
team['name'] =['彭政閔','林智勝','蘇偉達','陽耀勳']
team['number'] = [23,32,96,23]
team['team'] = ['兄弟象','兄弟象','兄弟象','lamigo']
pd.DataFrame(team)

  name  number    team
0  彭政閔      23     兄弟象
1  林智勝      32     兄弟象
2  蘇偉達      96     兄弟象
3  陽耀勳      23  lamigo