In [75]:
import mysql.connector as sql
import pandas as pd
import numpy as np

In [76]:
db_connection = sql.connect(host='140.116.96.116', database='data',user='root', password='ilin61205')

In [77]:
#ACC1:交寄局號
#ACC4:段號
#ACC10:責任局號
#ACC33:本頁重量(公斤)(該頁碼總重量)

In [78]:
df=pd.read_sql('SELECT ACC1,ACC4,ACC10, ACC33 FROM ACC ', con=db_connection)

In [79]:
#取每頁第一段
mask = df['ACC4'] == '1'
df=df[mask]

In [80]:
data=df.sort_values(by = 'ACC1',ascending=True).reset_index().drop(['index', 'ACC4'], axis=1).rename(columns={'ACC1': 'O', 'ACC10': 'D', 'ACC33': 'weight(kg)'})

In [81]:
result=data.groupby(['O', 'D']).sum()

In [82]:
result

               weight(kg)
O      D
100001 100999  23060875.0
100002 100999  18343885.0
100003 100999  13131988.0
100004 100999  11215498.0
100005 100999  56096443.0
100006 100999  23672077.0
100007 100999  55457153.0
100008 100999  18113210.0
100009 100999  44268451.0
100010 100999  54231703.0
100011 100999  42840781.0
100012 100999   9312343.0
100013 100999  36755368.0
100014 100999  32050232.0
100015 100999   1195999.0
100017 100999  34438614.0
100018 100999  20513026.0
100020 100999  34693658.0
100021 100999  22347670.0
100022 100999  22678320.0
100023 100999  20928293.0
100024 100999  16457634.0
100025 100999  37937953.0
100026 100999  66116268.0
100027 100999  26713683.0
100028 100999  20171257.0
100029 100999  26785301.0
100030 100999  65100488.0
100031 100999  29389351.0
100032 100999  31035633.0
...                   ...
970010 970999  12193752.0
970011 970999  11220517.0
970012 970999   1792349.0
970013 970999  17607383.0
970014 970999  23481505.0
970015 970999  19329900.0
970016 970999   1866314.0
970017 970999   9277372.0
970018 970999   6871258.0
970019 970999   6880161.0
970020 970999   2551805.0
970021 970999  10235576.0
970022 970999   8466766.0
970023 970999    952157.0
970024 970999    649424.0
970025 970999   9408944.0
970027 970999   1196715.0
970028 970999    871706.0
970029 970999   5581176.0
970030 970999   2016602.0
970031 970999  12064859.0
970032 970999   3373639.0
970033 970999    354414.0
970034 970999    945313.0
970035 970999    609841.0
970036 970999   4950840.0
970037 970999   1640871.0
970038 970999   1137012.0
970039 970999   6275522.0
970582 970999     37517.0

[1342 rows x 1 columns]

In [83]:
result.to_csv('weight.csv')